<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Seotech</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
  <link href="static/css/findForm.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Seotech
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{url_for('registerCriminal')}}"> Register </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('findCriminal')}}"> Find Criminal </a>
                </li>

              </ul>
            </div>
            <div class="quote_btn-container ">
              <a href="">
                <img src="static/images/call.png" alt="">
                <span>
                  Call : + 01 1234567890
                </span>
              </a>
              <form class="form-inline">
                <!-- <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button> -->
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section ">
    <div class="forms">
      <form method="POST" enctype="multipart/form-data" action="/findCriminal">

        <div>
          <label for="image">Input Image:</label>
          <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <div>
          <button type="submit">Find Criminal</button>
        </div>
      </form>

      <form>
        <div>
          <label for="id">Criminal ID:</label>
          <input type="number" id="id" name="id" required>
        </div>
        <div>
          <button type="submit">Find Criminal</button>
        </div>
      </form>
    </div>
  </section>

  <!-- end about section -->
  {%if query_path %}
  <section>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{query_path}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <!-- <h5 class="my-3">John Smith</h5> -->
          </div>
        </div>
      </div>
  </section>
  {%endif%}
  <!-- result section starts here -->



  <section style="background-color: #eee;">
    <div class="container  py-5">
      <div class="row " style="display:flex;align-items:flex-start;">
        {% for user in users %}
        <div class="row mx-auto ">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="{{user.image_location}}" alt="avatar" class=" img-fluid" style="width: 150px;">
                <h5 class="my-3">{{user.name}}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0">National ID</p>
                  </div>
                  <div class="col-sm-5">
                    <p class="text-muted mb-0">{{user.national_id}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0">DOB</p>
                  </div>
                  <div class="col-sm-5">
                    <p class="text-muted mb-0">{{user.date_of_birth}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0">Birthmark</p>
                  </div>
                  <div class="col-sm-5">
                    <p class="text-muted mb-0">{{user.birthmark}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>



  <!-- result section ends here -->

  <div class="footer_bg">

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info_logo">
              <h3>
                Seotech
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor indidunt ut labore et
                dolore magna
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_links">
              <h4>
                BASIC LINKS
              </h4>
              <ul class="  ">
                <li class=" ">
                  <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                  <a class="" href="about.html"> About</a>
                </li>
                <li class="">
                  <a class="" href="service.html"> Services </a>
                </li>
                <li class="">
                  <a class="" href="#contactLink">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_contact">
              <h4>
                CONTACT DETAILS
              </h4>
              <a href="">
                <div class="img-box">
                  <img src="static/images/telephone-white.png" width="12px" alt="">
                </div>
                <p>
                  +01 1234567890
                </p>
              </a>
              <a href="">
                <div class="img-box">
                  <img src="static/images/envelope-white.png" width="18px" alt="">
                </div>
                <p>
                  demo@gmail.com
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
              <h4>
                NEWSLETTER
              </h4>
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="">
                  <img src="static/images/info-fb.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/info-twitter.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/info-linkedin.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/info-youtube.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
    <section class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </section>
    <!-- footer section -->

  </div>

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="static/js/custom.js"></script>


</body>

</html>